.Nav {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 55px;
  width: 55px;
  background-color: rgba(0, 0, 0, 0.432);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  backdrop-filter: blur(3px);
  &__box-expand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__list {
    list-style-type: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &--expand {
      justify-content: space-evenly;
    }
  }
  &__expand {
    display: flex;
    align-items: center;
  }
  &__menu-icons {
    display: none;
    color: white;
    -webkit-tap-highlight-color: transparent;
    &--expand {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 4px;
      min-width: 50px;
      height: 100%;
      color:white;
    }
  }
  &__icons-name {
    :nth-of-type(2) {
      margin-top: 0;
    }
    margin-top: 2px;
  }
  &__backIcon {
    width: 18px;
    transform: rotate(-180deg);
    fill: white;
  }
  &__icons {
    transition: all 1s ease;
  } 
  &__user-icon {
    &--foodPlan,
    &--home,
    &--food,
    &--user {
      fill: white;
    }
    &--foodPlan {
      width: 22px;
    }
    &--home {
      width: 33px;
    }
    &--food {
      width: 30px;
    }
    &--user {
      width: 23px;
    }
  }
  &__expand {
    transition: all 0.3s ease;
    &--rotate {
      transform: rotate(180deg);
    }
  }
}

.active {
  color: $main-color;
  .Nav__icons  {
    fill: $main-color;
  }
}